.serv-comp.d-flex {
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0px;
    padding: 8px 20px;
    margin-bottom: 1.7rem;
    cursor: pointer;
    border: 2px solid #b8c5e0;
    border-radius: 11px;
    font-weight: 600;
    font-size: 18px;
}
.serv-comp.d-flex:hover {
    border: 2px solid #fff;
    background-color: #5e4cbb;
    color: #fff;
    box-shadow: 0px 0px 35px 0px #5e4cbb;
    transition: 0.6s;
}
.comser img {
    cursor: pointer;
}
.comser img:hover {
    overflow: hidden;
    transform: scale(1.2);
    transition: 0.6s;
}
.getst span {
    border: 4px solid #01246a;
    padding: 13px 32px;
    color: #01246a;
    border-radius: 9px;
    cursor: pointer;
    font-weight: 600;
    font-size: 21px;
    box-shadow: 0px 0px 20px 0px;
    margin: 0px 0px 0px 30px;
}
.getst{
    padding: 0px 0px 30px 0px;
}
.getst span:hover {
    border: 4px solid #fff;
    background-color: #5e4cbb;
    color: #fff;
    box-shadow: 0px 0px 35px 0px #5e4cbb;
    transition: 0.6s;
}